@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

body {
  color: var(--dark-grayish-blue);
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
}

header {
  background-image: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.container-small {
  width: 700px;
}

.flex {
  display: flex;
}
